CompileFlags:
  # Treat code as C++, use C++23 standard, enable more warnings.
  Add: [-xc++, -std=c++23, -Wall, -Wno-missing-prototypes]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: -mabi
