---
Checks: "-*,\
  bugprone-*,\
  -bugprone-easily-swappable-parameters,\
  -bugprone-narrowing-conversions,\
  google-readability-casting,\
  misc-*,\
  -misc-no-recursion,\
  -misc-non-private-member-variables-in-classes,\
  modernize-*,\
  -modernize-avoid-c-arrays,\
  -modernize-return-braced-init-list,\
  -modernize-use-nodiscard,\
  -modernize-use-noexcept,\
  -modernize-use-trailing-return-type,\
  performance-*,\
  portability-*,\
  readability-*,\
  -readability-function-cognitive-complexity,\
  -readability-identifier-naming,\
  -readability-magic-numbers,\
  -readability-qualified-auto,\
  -readability-uppercase-literal-suffix,\
  "
HeaderFilterRegex: 'Source/cm[^/]*\.(h|hxx|cxx)$'
CheckOptions:
  - key: modernize-use-equals-default.IgnoreMacros
    value: "0"
  - key: modernize-use-auto.MinTypeNameLength
    value: "20"
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: "false"
  - key: readability-identifier-length.MinimumParameterNameLength
    value: "2"
  - key: readability-identifier-length.MinimumVariableNameLength
    value: "2"
