#==============================================================================#
# Editor auto-saving
#==============================================================================#

*~
\#*\#
*.autosave

#==============================================================================#
# Files to ignore recursively
#==============================================================================#

*/.gitignore
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Makefile
**/.project
**/.cproject
**/.settings

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#

*.so*
*.cflags
*.cxxflags
*.config
*.creator
*.creator*
*.files
*.includes
*.cmake
*.code-workspace
*.orig
*.tmp

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#

.vscode
.vs
.ccls-cache
.idea
.cache
**/__pycache__/

#==============================================================================#
# Directories to ignore recursively
#==============================================================================#

**/istclean/*
**/build*/

#==============================================================================#
# Miscellaneous
#==============================================================================#

!.vscode/*.default
.ycm_extra_conf.py*
*-ut
cscope*
data/secret.json
data/.*
